* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

body {
    width: 100%;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    box-shadow: 2px 2px 10px #262228;
    background-color: #262228;
    border-radius: 10px;
}

/* CABECERA */
.cabecera {
    width: 100%!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    padding: 20px 40px!important;
    background-color: #007849!important;
    border: 1px solid #262228!important;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.cabecera h1 {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.links {
    color: rgba(255, 255, 255, 0.7)!important;
}

.links:hover {
    color: rgba(255, 255, 255, 1)!important;
}

.articulo1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.articulo1 h5 {
    width: 70%;
    margin: 20px 15%!important;
    padding-bottom: 15px;
    color: white;
    align-self: flex-start;
    border-bottom: 1px solid black;
}

.articulo1 table {
    width: 70%;
    margin: 0 auto;
    min-height: 50px;
}

.articulo1 table tr {
    height: 20px;
}

.articulo1 table tr td {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007849;
    font-style: italic;
    text-align: left;
    padding: 5px 0;
}

.articulo1 table tr td i {
    font-size: 1rem;
    margin-left: 5px;
}

.formulario {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.campo {
    width: 70%;
    padding: .6rem;
    border-radius: 40px;
    margin-bottom: 15px;
    border: none;
    background-color: white;
}

.boton_insertar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .6rem;
    border-radius: 5px;
    background: none;
    border: 0;
    color: black;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -moz: none;
    -ms: none;
    background-color: #007849;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: .9rem;
}

.boton_insertar:hover {
    transition: .1s;
    transform: scale(.95);
}

.boton_insertar i {
    font-size: 1rem;
    margin-right: 5px;
}

.articulo2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.articulo2 h5 {
    margin: 20px 15%!important;
    color: white;
    align-self: flex-start;
}

.articulo2 table {
    width: 70%;
    margin: 0 auto;
    min-height: 50px;
}

.articulo2 table tr {
    height: 20px;
}

.articulo2 table tr td {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007849;
    font-style: italic;
    text-align: left;
    padding: 5px 0;
}

.articulo2 table tr td i {
    font-size: 1rem;
    margin-left: 5px;
}

.boton_eliminar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .6rem;
    border-radius: 5px;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -moz: none;
    -ms: none;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: .8rem;
    margin-left: 15px;
}

.boton_eliminar:hover {
    transition: .1s;
    transform: scale(.95);
}

.error {
    font-size: .6rem;
    color: white;
    margin-top: 20px!important;
    text-align: center;
}

.articulo3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.articulo3 h5 {
    margin: 20px 15%!important;
    color: white;
    align-self: flex-start;
}

.titulo_encontrados {
    width: 70%;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.articulo3 table {
    width: 70%;
    margin: 0 auto;
    min-height: 50px;
}

.articulo3 table tr {
    height: 20px;
}

.articulo3 table tr td {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007849;
    font-style: italic;
    text-align: left;
    padding: 5px 0;
}

.articulo3 table tr td i {
    font-size: 1rem;
    margin-left: 5px;
}

.mensaje {
    font-size: .6rem;
    color: white!important;
    justify-content: center!important;
    font-style: normal!important;
    margin-top: 10px;
}

.boton_modal {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .4rem 1.5rem;
    border-radius: 5px;
    background: none;
    border: 0;
    color: #007849;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -moz: none;
    -ms: none;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: .9rem;
}

.boton_modal:hover {
    transition: .1s;
    transform: scale(.95);
    background-color: white;
    color: #007849;
}

.titulo_eliminar {
    font-style: normal;
    font-weight: bold;
    color: black;
}

.modal-content {
    background-color: #262228;
}

.modal-header {
    border: none;
}

.modal-header h4 {
    color: white;
}

.modal-body {
    color: #007849;
    border: none;
}

.modal-footer {
    border: none;
}

.btn-close {
    background-color: white;
    border-radius: 20px;
    opacity: 1;
    margin-right: 3px!important;
}

/* PIE */
.pie {
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: .9rem;
    font-weight: bold;
    background-color: #007849;
    color: black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 20px;
}